{{>header}}

<h1>primera pagina</h1>

<section>
	<button onclick="registro()">registro</button>
	<button onclick="login()">login</button>
</section>



<section>
	<form method="get" action="/registro">
		<input type="" name="">
	</form>


</section>
{{>footer}}