{{>header}}
<section id="loginadm">
	<img id="logo_loginadm" src="images/logo.jpg">
	<form method="post" action="/paneladm" class="form-group">	
		<input type="text" name="usuario" placeholder="Usuario" class="form-control">
		<input type="password" name="contrasena" placeholder="Contraseña" class="form-control">
		<input type="submit" name="enviar" value="Ingresar" class="form-control">
	</form>

</section>


{{>footer}}