{{>header}}
<body>
<section id="loginadm">

	<form method="post" action="/paneladm">
		<input type="text" name="usuario" placeholder="Usuario">
		<input type="password" name="contrasena" placeholder="Contraseña">
		<input type="submit" name="enviar" value="Ingresar">
	</form>

</section>
</body>
{{>footer}}