{{>header}}
<h1>Panel adminnistraci칩n</h1>
<ul>
	<li><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  A침adir producto
</button></li>
	<li><a href="#">ver todos los productos</a>	</li>
</ul>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
        		  <span aria-hidden="true">&times;</span>
        		</button>
      		</div>
      		<form method="post" action="add" class="form-gruop">
	      		<div class="modal-body">
	      		  	<input type="text" name="nombre" placeholder="Nombre" class="form-control"><br>
	      		  	<input type="number" name="precio" placeholder="$$$" class="form-control"><br>
	      		  	<input type="number" name="duracion" placeholder="duracion" class="form-control"><br>
	      		  	<textarea placeholder="Descripci칩n" name="descripcion" class="form-control"></textarea><br>
	      		  	<input type="text" name="link" placeholder="link del archivo">
	      		</div>
	      		<div class="modal-footer">
	      		  	<button type="submit" class="btn btn-primary">A침adir</button>
	      		</div>
      		</form>
    	</div>
  	</div>
</div>








{{>footer}}