{{>header}}
<nav id="navegador">
	<button type="button" class="btn" data-toggle="modal" data-target="#exampleModal"><img src="images/anadir.png" style="width:32px;"></button>
	{{>adding}}

	<form method="post" action="/logout">
		<input type="submit" name="logout" class="btn btn-danger" value="logout">
	</form>

</nav>

<ul id="filtro_adm">
	<li><a href="/disponible_adm">Disponible</a></li>
	<li><a href="/vendidos">Vendidos</a></li>
</ul>


<section id="panel">
	<section id="capa">
		{{#each	produc}}
			<section class="productos">
				<section class="card">
						<img src="https://www.redeszone.net/app/uploads-redeszone.net/2019/04/Foto-centro-servidores.jpg">
						<section class="card-body">
							<h1>{{this.nombre}}</h1>
						</section>
						<section class="card-footer">
							<form method="post" action="/editar">
								<input type="submit" name="" class="btn" value="Editar">
								<input type="hidden" name="_id" value="{{this._id}}">
							</form>
						</section>
					</section>
			</section>	
		{{/each}}
	</section>
</section>



{{>footer}}